<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheets" href="/stylesheets/style.css">
</head>

<body>
    <form action="GET" action="/resultPage/gogo">
        <input type="text" value="hello" name="data1">
        <input type="text" value="word" name="data2">
        <input type="submit" value="transformData" name="submit">
    </form>

</body>


</html>
