<!DOCTYPE html> 
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h2><%= method %> result page</h2>
        <p>id: <%= id %></p>
        <p>age: <%= age %></p>
    </body>
</html>

