extends layout

block content
  .timeline
    h2 경매 진행 목록
    table#good-list
      tr
        th 상품명
        th 이미지
        th 시작 가격
        th 종료 시간
        th 입장
      for good in goods
        tr
          td= good.name
          td: img(src='/img/' + good.img)
          td= good.price
          td.time(data-start=good.createdAt) 00:00:00
          td: a.enter.btn(href='/good/' + good.id) 입장
  script.
    var es = new EventSource('/sse');
    //서버와 연결... 

    es.onmessage = function (e) {
    //es.onmessage 또는 es.addEventListener('message') 이벤트 리스너로
    //서버로부터 데이터를 받을 수 있다. 

      document.querySelectorAll('.time').forEach(function(td) {
        var end = new Date(td.dataset.start);
        //품목이 생성된 시간을 받아서... 
      
       
        var server = new Date(parseInt(e.data, 10));//현재 실시간 서버 시간
                                       //▲서버로부터 데이터를 받은 데이터가 들어있음 
        end.setMinutes(end.getMinutes()+1); 
        //품목 생성된 날 + 1 (하루 추가)
        
     
        if (server >= end) {
          return td.textContent = '00:00:00';
        } else {
          var t = end - server;
          var seconds = ('0' + Math.floor((t / 1000) % 60)).slice(-2);
          var minutes = ('0' + Math.floor((t / 1000 / 60) % 60)).slice(-2);
          var hours = ('0' + Math.floor((t / (1000 * 60 * 60)) % 24)).slice(-2);
          return td.textContent = hours + ':' + minutes + ':' + seconds ;
        }

      });


    };
