<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
</head>
<script>
  const gotoHome = ()=>{
    location.href="/"; 
  }
</script>
<body>
   
<h1>에러 발생 카피카피</h1>
<h1>에러코드 : <%=erroCode%></h1>
<h1>에러메시지: <%=message%></h1> 

<input type="button" value="홈으로" onclick="gotoHome()">
 
 
</body>
</html>