<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
</head>
<script>

  const test = ()=>{
      location.href="/file"; 
  }


</script>

<body>
   
<h1>익스프레스 세계에 오신걸 환영합니다.</h1>
 
<input type="button" value="파일업로드" onclick="test()">
 
</body>
</html>