

<!DOCTYPE html>
<html>

    <head>
        <title>hee</title>
    </head>
    <body>
        <h1><%=error.status%></h1>
        <h1><%=message%></h1>
        <h1>페이지를 표시할 수 없습니다.</h1>
    </body>

</html>

