

<!DOCTYPE html>
<html>

    <head>
        <title>users</title>
        <link rel='stylesheet' href='/stylesheets/style.css'>
    </head>
    <body>
        <h1><%=userValue%></h1>
        <p>Welcome to <%=userValue%></p>
      
    </body>

</html>

