extends layout

block content
  div F12를 눌러 console 탭과 network 탭을 확인하세요.
  script(src='/socket.io/socket.io.js')
  
  script.
    var socket = io.connect('http://localhost:8005', {
      path: '/socket.io',
      transports: ['websocket']
    });
    //서버랑 클라이언트랑 소켓 연결...
    //  const io = SocketIO(server,{path:'/socket.io'}); 
    // 서버쪽이랑 PATH가 동일해야 한다. 

    socket.on('news', function (data) {
      console.log(data);
      socket.emit('reply', 'Client to Hello Node.JS');
    },);